/* Inverted Styles
---------------------------------- */

/* Global Styles */

body{
	color:#fff;
}

h2, h3{
	color:#ddd;
}


/* Wine List & Cart Styles
---------------------------------- */

body.wine-cart{
	background-color:#222;
}

.shipping-states.special-process a{
	color:#bbb;
	text-decoration:underline;
}

.wine-card{
	background-color:#222;
	border-color:#555;
}

.wine-card .wine-info .wine-detail-toggle{
	color:#bbb;
	text-decoration:underline;
}

.wine-info p,
.wine-info .wine-detail{
	color:#fff;
}

/* Sold Out Styles */

.sold-out button{
	background-color:#555;
	border-color:#555;
}


/* Wine Club Signup Styles
---------------------------------- */

.btn.clear-form{
	color:#bbb;
	text-decoration:underline;
}

h2.list-hanging-indent .list-step{
	color:#222;
	background-color:#267ec6;
}

.hdr.hdr-active,
.hdr.hdr-active:hover,
.hdr.hdr-active:focus{
	color:#ddd;
}

.hdr.hdr-active .list-step,
.hdr.hdr-active:hover .list-step,
.hdr.hdr-active:focus .list-step{
	background-color:#ddd;
}

.hdr.hdr-disabled,
.hdr.hdr-disabled:hover,
.hdr.hdr-disabled:focus{
	color:#444;
}

.hdr.hdr-disabled .list-step,
.hdr.hdr-disabled:hover .list-step,
.hdr.hdr-disabled:focus .list-step{
	color:#222;
	background-color:#444;
}

.hdr.hdr-no-link,
.hdr.hdr-no-link:hover,
.hdr.hdr-no-link:focus{
	color:#888;
}

.hdr.hdr-no-link .list-step,
.hdr.hdr-no-link:hover .list-step,
.hdr.hdr-no-link:focus .list-step{
	background-color:#888;
}

.club-results{
	color:#888;
}

.panel-body{
	color:#222;
}
