.wine-card-wrapper{
	width:100%;
	max-width:1260px;
	margin:0 auto;
	font-size:0;
}

.shipping-states{
	width:100%;
	max-width:610px;
	margin-left:15px;
	margin-right:15px;
	font-size:13px;
	display: none;
}

.shipping-states-footer{
	margin-top:0;
	display:none;
}

.wine-card{
	display:inline-block;
	width:270px;
	margin-left:5px;
	margin-right:5px;
	padding:9px;
	font-size:13px;
	vertical-align:top;
	text-align:center;
}

.wine-card > div{
	float:none;
	margin:0;
}

.wine-card .wine-label{
	margin:10px;
}

.wine-label img{
	border:none;
	max-height:250px;
	max-width:250px;
	margin:0 auto;
}

.wine-card .wine-info{
	width:auto;
	margin:10px;
}

.wine-card .wine-info .wine-detail-toggle.wine-detail-show{
	display:block;
}

.wine-card.wine-detail-mobile-display .wine-info .wine-detail-toggle.wine-detail-show{
	display:none;
}

.wine-card.wine-detail-mobile-display .wine-info .wine-detail-toggle.wine-detail-hide{
	display:block;
}

.wine-card .wine-info p.appalation,
.wine-card .wine-info .wine-detail{
	display:none;
	margin-bottom:15px;
	text-align:left;
}

.wine-card.wine-detail-mobile-display .wine-info .wine-detail{
	display:block;
}

.wine-card .wine-basket{
	position:relative;
	top:auto;
	right:auto;
	width:260px;
	margin:0 auto 10px;
}

.wine-basket .styled-select{
	float:left;
	width:20%;
	margin:0 5px;
}

.wine-basket button{
	width:60%;
	margin:0 5px;
}


@media only screen and (max-width:1260px){

	.wine-card-wrapper{
		max-width:640px;
	}

}

@media only screen and (max-width:767px){

	.wine-card-wrapper{
		max-width:320px;
	}

	.wine-card{
		margin-bottom:15px;
	}

}
